.members-dashboard {
	padding: 20px;
	min-height: 100vh;
	text-align: center;
	background-color: #f4f4f4;
}

.title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	margin-bottom: 20px;
}

.leftpart {
	display: flex;
	align-items: center;
	gap: 10px;
}

.middlepart {
	display: flex;
	align-items: center;
	gap: 5px;
}

.rightpart {
	display: flex;
	align-items: center;
}

.menu-button, .zoom-button {
	background: none;
	border: none;
	font-size: 18px;
	cursor: pointer;
}

select {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.members-board {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 10px;
	padding: 20px;
	background: white;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.members-card {
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	color: #333;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.members-card strong {
	font-size: 18px;
	margin-bottom: 5px;
}

.members-card p {
	font-size: 14px;
	margin-bottom: 5px;
}

.members-card small {
	font-size: 12px;
	color: #555;
}

input[type="text"] {
	width: 50%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
